/** basic **/
a, a:hover, a:focus {color:inherit; text-decoration:none; display:inline-block;}
ul, ol, li, dl {margin:0; padding:0; list-style:none;}
button {background-color:transparent; border:0; padding:0; text-align:center; color:#333; vertical-align:middle; letter-spacing:-3px;}
button:focus {outline:none;}
img {width:100%;}

html, body {margin:0; position:relative; height:100%; font-family:"heumm"; letter-spacing:-1px;}
section {width:1280px; background:#eee; margin:auto; position:relative;}

.font-mg {font-family:'Malgun Gothic', sans-serif; font-size:18px;}
.font-mg-bg {background:#fffcef; border-radius:10px; font-weight:600;}

.mb40 {margin-bottom:40px;}
.mb30 {margin-bottom:30px;}
.text-info {color:#8f9843;}
.text-black {color:#222; margin:0;}
.text-orange {color:#ff813c !important; margin:0;}

.flex-wrap {
	/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}