/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
	src:url('/resource/fonts/NanumGothic-Regular.eot'),
	url('/resource/fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
	url('/resource/fonts/NanumGothic-Regular.woff2') format('woff2'),
	url('/resource/fonts/NanumGothic-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: bold;
	src:url('/resource/fonts/NanumGothic-Bold.eot'),
	url('/resource/fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
	url('/resource/fonts/NanumGothic-Bold.woff2') format('woff2'),
	url('/resource/fonts/NanumGothic-Bold.woff') format('woff');
}